*{
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body {
  font-family: Helvetica, arial, san-serif;
  font-size: $m-size;
  color: $dark-grey;
  line-height: 1.6;
}

.is-active{
  color: red;
  font-weight: 600;
  text-transform: uppercase;
}
