// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;


// Colors
$light-grey: #f7f7f7;
$grey: #666666;
$dark-grey: #333333;
$lightblue: #227AB3;
$darkblue: #364051;
$darkred: #931b06;
$white: #ffffff;
$off-white: #cacccd;
