.add-option-error{
  color: $off-white;
  font-style: italic;
  padding: 0 $m-size;
  margin: $m-size 0 0 0
}


.add-option{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: $m-size
}

.add-option__input{
  padding: $s-size;
  color: $off-white;
  background: $dark-blue;
  margin-right: $s-size;
  border: none;
  border-bottom: .3rem solid darken($dark-blue, 10%);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1
}
