.big-button {
  background: $purple;
  border: none;
  border-bottom: .6rem solid darken($purple, 10%);
  color: white;
  font-weight: 600;
  font-size: $l-size;
  width: 100%;
  margin-bottom: $xl-size;
  padding: 2.4rem;
}

.big-button:disabled{
  opacity: 0.5;
}

.button{
  background: $purple;
  border: none;
  border-bottom: .3rem solid darken($purple, 10%);
  color: white;
  padding: $s-size;
  font-weight: 500;
}

.button--link{
  background: none;
  border: none;
  color: $off-white;
  padding: 0;
}

@media (max-width: $desktop-breakpoint) {
  .big-button{
    padding: $s-size 0;
    margin-bottom: $m-size;
  }
}
